<div class="album py-5 bg-light mt-5">
<div class="container">
  <p class="h1-responsive font-weight-bold text-center mb-5">Время {{today | date:'h:mm: a zzzz'}}</p>

  <ul class="list-unstyled">
    <li class="media mb-5">
      <img class="d-flex mr-3" src="https://i.pinimg.com/736x/e3/e7/67/e3e7677b1a49182363cd6a8522936a4a.jpg" alt="Generic placeholder image" style="width: 300px">
      <div class="media-body">
        <h5 class="mt-0 mb-1 font-weight-bold container">Monster Hunter</h5>
        Главный герой фентезийного триллера под названием «Охотник на монстров» - лейтенант Артемис и ее небольшое подразделение солдат из будущего. Однажды во время планового междупланетного перелета героиня вместе с подопечными преодолевает временную петлю и оказывается в параллельной реальности. Этот удивительный мир опасен и страшен, он буквально кишит всевозможными монстрами. Не смотря на боевую закалку и огромнейший опыт выхода из запутанных ситуаций, героям приходится несладко. Им едва удается выживать, не говоря уже о том, чтобы справиться с противником и вернуться домой. Спасти лейтенанта от ужасных тварей может только некий Охотник, но кто он такой, и как его найти, никто не знает. Удастся ли Артемис и ее подопечным связаться с таинственным незнакомцем и спасти свои жизни, вернувшись в родную реальность?
        <br><b><b>Дней до выхода: {{daysremain | days}}</b></b>
      </div>
    </li>
  </ul>

  <ul class="list-unstyled">
  <li class="media mb-5" *ngFor="let item of items">
    <img class="d-flex mr-3" src="https://img.podcastone.com/images/766/1051119-1537886463454-3c619bfaef3da.jpg" alt="Generic placeholder image" style="width: 300px">
    <div class="media-body">
      <h5 class="mt-0 mb-1 font-weight-bold container">{{item}}</h5>
      Действие разворачивается в недалеком будущем, когда осужденным предоставляется возможность принять участие в медицинских экспериментах в обмен на сокращение срока. В центре сюжета — пара заключенных, на которых испытывают наркотик, контролирующий эмоции и заставляющий их столкнуться со своим прошлым.
    </div>
  </li>
</ul>
</div>
</div>
